<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\View" type="Ecommage\Blogext3\Block\Catalog\Product\View" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommage_blogext3_blog_listing_data_source" xsi:type="string">
                    Ecommage\Blogext3\Model\ResourceModel\Blog\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Ecommage\Blogext3\Model\ResourceModel\Blog\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">ecommage_blogs</argument>
            <argument name="eventPrefix" xsi:type="string">ecommage_blogext3_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">ecommage_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Ecommage\Blogext3\Model\ResourceModel\Blog</argument>
        </arguments>
    </type>
    <type name="Ecommage\Blogext3\Controller\Index\Example">
        <plugin name="Ecommage_Blogext3_Plugin" type="Ecommage\Blogext3\Plugin\ExamplePlugin" sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Ecommage\Blogext3\Controller\Blog\Save">
        <plugin name="Ecommage_Blogext3_Plugin" type="Ecommage\Blogext3\Plugin\SavePlugin" sortOrder="1" disabled="false"/>
    </type>
    <type name="Ecommage\Blogext3\Block\Email">
        <plugin name="Ecommage-blogext3-email-block" type="Ecommage\Blogext3\Plugin\EmailPlugin" sortOrder="5" />
    </type>
</config>
